@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: Bold;
    background: #b6b8bb;
    color: white;
}   
body::before {
    content: '';
    position: fixed;
    top: 5.6vh;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #A7B4C4;
    z-index: 9998;
}



#bodyMain {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 20px;
    padding: 50px 70px;
    margin-top: 3vh;
    margin-bottom: 40px;
    margin-left: 180px;
    margin-right: 180px;
    background-color: #e9e9e9;
    border-radius: 15px;
    color: black;
}
.uniform-size {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 10px;
}

.uniform-image {
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}



#bodyHot {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 8vh;
    margin-left: 180px;
    margin-right: 180px;
    background-color: #e9e9e9;
    border-radius: 15px;
    color: black;
}
.movingthingBig {
    overflow: hidden;
    position: relative;
    width: 100%;
    grid-column: span 4;
}

.movingthingSmall {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: fit-content;
}

.featured-item {
    min-width: 25%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.featured-item img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.product-card {
    background: white;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
  }